.home-page .main-nav:not(.scrolled) {
  @media screen and (min-width: 576px) {
    background-color: transparent;
  }
}

.home-page .main-nav:hover {
  @apply bg-green-main;
}

.home-banner {
  background-image: url('./../../images/new_home_banner.jpg');
  background-size: cover;
  background-position: center top;

    @media screen and (max-width: 577px) {
        background-image: url('./../../images/new_home_mobile.jpg');
    }
}

.testimonial-section {
  background-image: url('./../../images/homepage_villa_room_2x1.jpg');
  background-size: cover;
  background-position: center;
}

.nightview-section {
  background-image: url('./../../images/night_view_2x1.jpg');
  background-size: cover;
  background-position: center;
}

.cuisine-section {
  background-image: url('./../../images/homepage_cuisine.jpg');
  background-size: cover;
  background-position: center;
}

.instagram-image-box {
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 577px) {
    flex-basis: 50%;
  }
}



