.journal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
    }

    //@media screen and (min-width: 577px) and (max-width: 900px) {
    //    grid-template-columns: 1fr 1fr;
    //}
}

.journal-entry img {
    display: block;
    margin: 3rem auto;
}

.journal-entry h1 {
    @apply type-h1;
}

.journal-entry h2 {
@apply type-h2;
}

.journal-entry h3 {
@apply font-bold;
}

.journal-entry h4 {
@apply font-bold;
}

.journal-entry figcaption {
    @apply text-center text-sm;
}

.journal-entry .instagram-media {
    margin-left: auto !important;
    margin-right: auto !important;
}

.journal-entry figure {
    @apply my-8;
}

.journal-entry iframe {
    @apply max-w-full;
}

.journal-entry a {
    @apply text-green-main no-underline;
}

.journal-entry a:hover {
@apply text-hover-green underline;
}

.journal-entry .aspect-16-9 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: auto;
}

.aspect-16-9 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: auto;
}

.journal-entry .aspect-16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
