.room-banner {
  background-size: cover;
  background-position: center;
}

.lily-room .room-banner {
  background-image: url(../../images/room-banners/lily_banner.jpg);
}

.rose-room .room-banner {
  background-image: url(../../images/room-banners/rose_banner.jpg);
}

.sunflower-room .room-banner {
  background-image: url(../../images/room-banners/sunflower_banner.jpg);
}

.orchid-room .room-banner {
  background-image: url(../../images/room-banners/orchid_banner.jpg);
}

.frangipani-room .room-banner {
  background-image: url(../../images/room-banners/frangipani_banner.jpg);
}

.plum-room .room-banner {
  background-image: url(../../images/room-banners/plum_banner.jpg);
}

.villa-room .room-banner {
  background-image: url(../../images/room-banners/villa_banner.jpg);
}

.room-gallery  {

  @media screen and (max-width: 576px) {
    padding: 0;

  }

  .flickity-page-dots {
    bottom: 20px;
  }

}

.room-preview.left {
  picture {
    order: 2;
  }
}


