@font-face {
  font-family: "transat-bold";
  src: url(../fonts/transat_bold-webfont.woff), url(../fonts/transat_bold-webfont.woff2);
  font-style: normal;
  font-weight: bold;
}

@tailwind preflight;

@import (less) "~flickity/dist/flickity.css";

@import "./typerules.less";
@import "./buttons-links.less";
@import "layout-helpers";
@import "navbar";

@import "pages/home";
@import "pages/rooms";


@tailwind utilities;

body.nav-open {
  overflow-y: hidden;
}

svg {
  fill: currentColor;
}

.banner-image {
  width: 100vw;
  height: 50vw;
  object-fit: cover;
}