.slide-show {
  .flickity-button {
    background: none;
  }
  .flickity-prev-next-button {
    height: 100px;
    width: 50px;
    background-size: contain;
    border-radius: 0;
    background-repeat: no-repeat;

    .flickity-button-icon {
      display: none;
    }
  }

  .flickity-prev-next-button {
    @media screen and (max-width: 576px) {
      background-size: 25%;
      background-position: center;
    }
  }

  .flickity-page-dots .dot {
    @media screen and (max-width: 576px) {
      margin: 0 4px;
    }
  }
  .flickity-prev-next-button.next {
    background-image: url(./../images/utils/right_arrow.svg);
  }

  .flickity-prev-next-button.previous {
    background-image: url(./../images/utils/left_arrow.svg);
  }

  &.dark {
    .flickity-prev-next-button.next {
      background-image: url(./../images/utils/dark_right_arrow.svg);
    }

    .flickity-prev-next-button.previous {
      background-image: url(./../images/utils/dark_left_arrow.svg);
    }

    .flickity-page-dots {
      .dot {
      @apply .bg-green-main;
      }
    }
  }

  .flickity-page-dots {
    .dot {
    @apply .bg-white;
    }
  }

  &.low-dots {
    .flickity-page-dots {
     bottom: -40px;
    }
  }

  &.arrows-wide {
    @media screen and (min-width: 50rem) {
    .flickity-prev-next-button.next {
      right: -150px
    }

    .flickity-prev-next-button.previous {
      left: -150px;
    }
  }

  }
}