.banner-height {
  height: 56.25vw;

  @media screen and (max-width: 576px) {
    height: 100vw;
  }
}

.section-height {
  height: 50vw;

  @media screen and (max-width: 576px) {
    height: 150vw;
  }
}